:root {
  --red:#ef695f;
  --green:#24af7d;
  --black:#1e1e1e;
  }
  
  * {
  box-sizing:border-box;
  font-family:Montserrat;
  font-style:normal;
  font-weight:400;
  margin:0;
  padding:0;
  }
  
  .title {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:5vh;
  width:100%;
  }
  
  body {
  color:#FFF;
  min-height:100vh;
  background:var(--black);
  }
  
  header {
  font-size:2.5rem;
  }
  
  header,form {
  min-height:10vh;
  display:flex;
  justify-content:center;
  align-items:center;
  }
  
  form button,form input {
  border-radius:10px;
  color:#FFF;
  margin:.5rem;
  padding:.5rem 1rem;
  }
  
  .new-task {
  padding:1rem;
  }
  
  form button {
  border:1px solid transparent;
  font-size:1.5rem;
  cursor:pointer;
  background:linear-gradient(95.24deg, #cb2d3e 1.83%,#e6574d 107.81%);
  }
  
  form button:hover {
  border:1px solid #F5F5F5;
  }
  
  form input {
  border:1px solid #fff;
  font-size:1rem;
  min-width:320px;
  width:700px;
  background:var(--black);
  }
  
  .task-container,.task-filter,.testi,.error {
  display:flex;
  justify-content:center;
  align-items:center;
  }
  
  .task-list {
  list-style:none;
  min-width:400px;
  }
  
  .task,.filter {
  border:1px solid #fff;
  font-size:1rem;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  max-width:800px;
  margin:.5rem;
  padding:.5rem 1rem;
  background:var(--black);
  }
  
  .task li {
  flex:1;
  }
  
  .delete-button {
  color:#FFF;
  cursor:pointer;
  border:none;
  background:var(--black);
  }
  
  .delete-button:hover {
  color:gray;
  }
  
  .fa-trash,.fa,.fa-2x {
  pointer-events:none;
  }
  
  .complete-button {
  border-radius:90px;
  width:25px;
  height:25px;
  cursor:pointer;
  border-color:transparent;
  margin:.5rem 1.5rem;
  padding:.5rem;
  background:var(--red);
  }
  
  .complete-button:hover {
  border:1px solid var(--black);
  }
  
  .uncompleted {
  background:var(--red);
  }
  
  .completed-text {
  text-decoration:line-through;
  color:rgba(255,255,255,0.288);
  border-color:rgba(255,255,255,0.288);
  }
  
  .uncompleted-temp {
  text-decoration:none;
  color:#FFF;
  transition:none;
  border-color:#FFF;
  }
  
  .completed {
  background:var(--green);
  }
  
  .filter {
  color:#FFF;
  cursor:pointer;
  }
  
  .testiNappi {
  cursor:pointer;
  display:none;
  }
  
  .errorText {
  color:var(--red);
  visibility:hidden;
  }
  
  .dropbtn {
  color:#FFF;
  border:none;
  font-size:1rem;
  padding-left:5vh;
  }
  
  .dropdown-content {
  display:none;
  position:absolute;
  z-index:1;
  }
  
  .dropdown-content button {
  color:#FFF;
  text-decoration:none;
  font-size:1rem;
  border-radius:10px;
  border:2px solid;
  margin:1px;
  padding:12px 16px;
  background:var(--black);
  }
  
  .dropdown-content button:hover {
  border:solid 2px;
  border-color:var(--red);
  }
  
  .dropdown:hover .dropdown-content {
  display:flex;
  flex-direction:column;
  text-align:center;
  }
  
  .filter:active,.filter:hover,.activeFilter {
  border-color:var(--red);
  }